<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Magazinciks.Properties.Settings.BD_SeregiConnectionString"
            connectionString="Data Source=10.10.14.113\SQLEXPRESS;Initial Catalog=BD_Seregi;Persist Security Info=True;User ID=Saratov;Password=Student123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>